@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
p
{
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 30px;
}

h1
{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

h2
{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}

@font-face 
{
    font-family: myFirstFont;
    src: url(./fonts/ojuju/static/Ojuju-Bold.ttf);
}

h3
{
    font-family: myFirstFont;
}